@if (personajes.length > 0) {
  
<form class="max-w-md mx-auto mb-3">
  <div class="relative">
      <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
          <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
          </svg>
      </div>
      <input
        type="search"
        id="people-search"
        name="filterPeople"
        class="block w-full p-3 ps-10 text-sm text-gray-800 border border-gray-800 rounded-lg"
        placeholder="Buscar por: nombre, color de ojos, género o film asociada"
        required
        [(ngModel)]="filterPeople"
      />
  </div>
</form>

<div class="flex justify-center min-h-screen">
  <div>
    <h2 class="text-center text-2xl font-bold mb-4">
      Lista de personajes de Star Wars <span class="font-light text-xl">(Página: {{currentPage}})</span>
    </h2>
    <ul>
      <!--  -->
      <div class="w-full max-w-md p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8">
        <div class="flow-root">
          <ul role="list" class="divide-y divide-gray-200">
            @for (character of personajes | filterPeople: filterPeople; track $index) {
            <li class="py-3 sm:py-4">
              <div class="flex items-center">
                <div class="flex-shrink-0">
                  <img class="w-8 h-8 rounded-full" src="../../assets/images/img.png" alt="Neil image"/>
                </div>
                <div class="flex-1 min-w-0 ms-4">
                  <p class="text-sm font-medium text-gray-900 truncate">
                    <span>{{$index + 1}}</span>. {{ character.name }}
                  </p>
                  <p class="text-sm text-gray-500 truncate">
                    Color de ojos: {{ character.eye_color }}
                  </p>
                  <p class="text-sm text-gray-600 truncate mb-1">
                    Género: {{ character.gender }}
                  </p>
                  <p class="text-sm font-medium text-gray-600">
                    Films asociadas:
                  </p>
                  <ul class="text-sm text-gray-500 truncate mb-1">
                    @for (asoFilms of character.listFilms; track $index) {
                      <li><span class="mx-2">{{$index + 1}}. </span>{{ asoFilms.title }} <span class="font-light">(Episodio: {{asoFilms.episode_id}})</span> </li>
                    }
                  </ul>
                </div>
              </div>
            </li>
            }
          </ul>
        </div>
      </div>
      <!--  -->
    </ul>
  </div>
</div>

<!-- Botones de navegación -->
<div class="fixed bottom-0 left-0 right-0 flex justify-between p-4">
  <!-- Botón de página anterior -->
  <button (click)="previousPage()" class="flex items-center sm:mx-10 px-4 py-2 bg-blue-500 text-white rounded-lg shadow hover:bg-blue-600">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd" d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 10H16a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd" />
    </svg>
    Anterior
  </button>

  <!-- Botón de página posterior -->
  <button (click)="nextPage()" class="flex items-center sm:mx-10 px-4 py-2 bg-green-500 text-white rounded-lg shadow hover:bg-green-600">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H4a1 1 0 110-2h10.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
    </svg>
    Siguiente
  </button>
</div>

} @if (personajes.length === 0 && !errorMessage) {
<div>
  <p>Cargando personajes de Star Wars...</p>
</div>
} @if (errorMessage) {
<div>
  <p>{{ errorMessage }}</p>
</div>
}
